<!-- <div class="main_div">
    <div *ngIf="nodes.type == 'folder'">
        <i class="bi bi-folder2-open"></i>
    </div>
    <div *ngIf="nodes.type == 'file'">
        <i class="bi bi-file-earmark"></i>
    </div>
    {{nodes.name}}
 <button (click)="adddelete()">delete</button> 
</div> -->
<!-- {{nodes.name}}   -->
<div *ngFor="let child of nodes.children; let i=index">
    <app-tree-node >
        {{nodes.name}}
    </app-tree-node>
</div>

<app-edit (InputFeild)="onInputEvent($event)" *ngIf="active"></app-edit>